<?xml version="1.0" encoding="utf-8"?><!-- Every activity that this application uses MUST be defined here -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danceivem.danceivem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".DatesActivity" />

        <activity android:name=".ClassesActivity"
            android:parentActivityName=".DatesActivity">
            <!-- Support for Parent Activity Name for API levels 4 - 16
                    <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".SplashActivity"/>
        </activity>
            -->
        </activity>
    </application>

</manifest>